.list-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  margin: 10px;
}
.list-item {
  position: relative;
  height: 75px;
  width: 85vmin;
  display: flex;
  background-color: gainsboro;
  align-content: center;
  outline-color: black;
  outline-style: solid;
  outline-width: 2px;
  transition: 0.5s;
}
.list-item:hover {
  background-color: gray;
}

.list-image {
  min-width: 75px;
  height: 75px;
  object-fit: cover;
}
.list-item-rank {
  position: absolute;
  bottom: 0;
  right: 0;
  width: max-content;
  height: max-content;
  background-size: cover;
  padding: 0 3px;
}
.list-item-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.list-item-name {
  font-weight: bold;
  margin: 0;
  margin-left: 3px;
}
.list-item-score {
  margin: 0;
  margin-left: 3px;
}
