.loading {
  display: flex;
  overflow: hidden;
  flex-direction: column;
  width: 99vw;
  height: 90vh;
  align-items: center;
  justify-content: center;
}
.spin-gif {
  width: 20vmin;
  height: 20vmin;
}

.content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  transition: 0.5s;
}

.bingo-div {
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.user-bingo-card,
.user-score-card,
.user-top-card {
  margin: 2vmin;
  padding: 0 3vmin 3vmin 3vmin;
  border-radius: 2vmin;
  box-shadow: 0vmin 1vmin 3vmin black;
  background-color: white;
  height: 100%;
}

@media only screen and (max-width: 1230px) {
  .bingo-div {
    width: auto;
    flex-direction: column;
  }
}
