.bingo-container {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  width: 85vmin;
  height: 85vmin;
  margin: 10px;
  border-color: black;
  border-style: solid;
  border-width: 2px;
  border-radius: 0;
  transition: 0.5s;
}
.bingo-item {
  background-color: black;
  display: block;
  position: relative;
  width: calc(20% - 4px);
  height: calc(20% - 4px);
  border: 2px solid black;
}
.bingo-item-dead {
  opacity: 50%;
}
.bingo-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
