.bingo-container {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  width: 70vmin;
  height: 70vmin;
  margin: 10px;
  border-color: black;
  border-style: solid;
  border-width: 2px;
  border-radius: 0;
  transition: 0.5s;
}
.bingo-item {
  background-color: black;
  display: block;
  position: relative;
  width: calc(20% - 4px);
  height: calc(20% - 4px);
  border: 2px solid black;
}
.bingo-item-dead {
  filter: opacity(50%);
}
.bingo-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.bingo-status {
  font-size: 25px;
  margin: 0px;
  text-align: center;
  position: absolute;
  bottom: 0;
  color: white;
}

@media only screen and (max-width: 1000px) {
  .bingo-status {
    font-size: 3vw;
  }
}
